body{
    margin: 0;
    background: #222;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: grid;
    /* place-content: center es exactamente igual que poner
    align-content: center centra vertical justify-content: center centra horizontal*/
    place-content: center;
    min-height: 100vh;
}
img{
    height: 300px;
    width: 300px;
}